backend/__pycache__/main.cpython-313.pyc
.DS_Store
.DS_Store
backend/.env
backend/backend/.env
*firebase-adminsdk*.json

# Node modules
node_modules/
**/node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo